/*-------------------------------------------*\
    SECTION: CONFIGURATIONS, FONTS AND VARIABLES
\*-------------------------------------------*/

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../assets/font/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../assets/font/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(../assets/font/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(../assets/font/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    box-sizing: border-box;
}
:root {
    --purple-color: #1B1464;
    --purple-color-2: #041450; 
    --white-color: #fff;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------*\
    SECTION: COMPONENTS
\*-------------------------------------------*/

.big-link{
    display: inline-block;
    position: relative;
    width: 50%;
    user-select: none;
    text-decoration: none;

}
.big-link > img{
    width: 100%;
    display: none;
}
.big-link span {
    /* position: absolute; */
    /* top: 30%; */
    /* left: 20%; */
    color: var(--white-color);
    display: flex;
    align-items: center;
    background: linear-gradient(249deg, rgba(0,79,140,1) 0%, rgba(0,137,183,1) 72%);
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1rem 2rem;
    border-radius: 50px;
}
.big-link span img{
    width: 2rem ;
    height: 1.5rem;
    margin-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*-------------------------------------------*\
    SECTION: HOME
\*-------------------------------------------*/

/* ---------- NAV ---------- */

.nav-bar{
    background: var(--purple-color);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    min-height: 60px;
    user-select: none;
}
.items-container{
    display: flex;
    align-items: center;
}
.items-container.left > :nth-child(2) {
    margin-right: 1rem;
}
.items-container.left > :nth-child(3) {
    background: var(--purple-color-2);
    min-width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-container.right > :nth-child(2) {
    margin-left: 1rem;
    padding-right: 1rem;

}

/* menu */

.menu{
    position: relative;
}
.menu-icon{
    background: none;
    border: none;
    cursor: pointer;
}
.menu-icon:focus{
    outline: 0;
}
.menu .menu-options{
    position: absolute;
    top: 50px;
    left: -10px;
    display: none;
    background: white;
    background: var(--purple-color-2);
    z-index: 100;
}
.menu-options .option{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: .8rem 3.2rem .8rem 1.6rem !important;
    color: var(--white-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.menu-options .option:hover{
    background: var(--purple-color);
}
.menu-options > :last-child {
    border-bottom-color: transparent;
}
.menu-icon.active::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid var(--white-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 8px);
}
.menu-options.active{
    display: block; 
    animation: fadeIn .3s forwards;

 }


/* idiomas */

.lenguages{
    position: relative;
}
.leng-icon{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.leng-icon img {
    width: 22px;
    height: 22px;
}
.leng-icon:focus{
    outline: 0;
}
.leng-options{
    position: absolute;
    top: 55px;
    left: -5px;
    background: var(--purple-color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    z-index: 100;

}
.leng-option{
    display: inline-block;
    padding: .2rem .4rem .2rem .4rem;
    margin: 0 auto;
}
.leng-options .leng-option img {
    width: 22px;
    height: 22px;
}
.leng-icon.active::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid var(--white-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 8px);
}
.leng-options.active{
    display: block; 
    animation: fadeIn .3s forwards;

 }


/* searchbox */
.search-box-container{
    position: relative;
    padding: 0 1rem;
}
.search-button{
    background: none;
    border: none;
    cursor: pointer;
}
.search-button:focus{
    outline: 0;
}
.search-box{
    height: 50%;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.16);
    padding: .2rem .5rem;
    color: var(--white-color);
    display: none;
    z-index: 100;
}
.search-box.active{
    display: block;
    animation: in .3s forwards;

}

/* user */

.user{
    position: relative;
}
.user-icon{
    background: none;
    border: none;
    cursor: pointer;
}
.user-icon:focus{
    outline: 0;
}
.user .user-options{
    width: 157px;
    position: absolute;
    top: 62px;
    left: -100px;
    display: none;
    background: white;
    background: var(--purple-color-2);
    z-index: 100;
}
.user-options .user-option{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: .8rem .1rem .8rem .5rem !important;
    color: var(--white-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.user-options .option:hover{
    background: var(--purple-color);
}
.user-options > :last-child {
    border-bottom-color: transparent;
}
.user-icon.active::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid var(--white-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    z-index: 300;
    bottom: -18px;
    left: calc(50% - 16px);
}
.user-options.active{
    display: block; 
    animation: fadeIn .3s forwards;

 }

/* animaciones */

@keyframes fadeIn{
   from{
       transform:  translateY(-20px) scale(.5);
   }
   to{
       transform:  translateY(0) scale(1);
   }
}

@keyframes in{
    from{
        transform:  translateX(-20px) ;
    }
    to{
        transform:  translateX(0);
    }
 }
 



/* ---------- HERO IMG ---------- */

.hero-container{
    width: 100%;
    height: 90.2vh;
    background-image: url(../assets/img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-top: -.2vh;
}
.hero-container .hero-info-container {
    width: 50%;
    padding: 1.5rem;
}
.hero-container .title {
    font-size: 36px;
}
.hero-container .description {
    font-size: 22px;
    margin-bottom: 4rem;
    font-weight: lighter;
}

/*-------------------------------------------*\
    SECTION: BENEFICIOS
\*-------------------------------------------*/

/* tabs */

.benefits-container{
    background: var(--purple-color);
    padding: 1.5rem;
    margin-top: -2px;
}
.header-tabs-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding: 0 1rem 0;
    border: var(--white-color);
    margin-bottom: 2rem;
}
.header-tabs-container .section-title{
    color: var(--white-color);
}
.tab{
    color: #7A76A4;
    background: none;
    border: none;
    padding: 0 1.5rem 1rem 1.5rem;
    user-select: none;
}
.tab:focus{
    outline: 0;
}
.selected{
    border-bottom: 2px solid #1F82E8;
    color: #1F82E8;
}

/* benefits */

.benefits-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benefit {
    width:  17%;
    min-width: 137px;
    min-height: 91px;

}
.benefit img {
    width: 100%;
}
.benefit .benefit-description{
    text-align: center;
    color: var(--white-color);
    font-size: .9rem;
}


/*-------------------------------------------*\
    SECTION: REGISTRO DE EMPRESA
\*-------------------------------------------*/

.registry-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px;
}
.registry-left-container{
    padding-left: 1.5rem;
    background: #031451;
    background-image: url(../assets/img/bkg-registro.png);
    background-position: left;
    background-size: 420px;
    width: 70%;
    background-repeat: no-repeat;
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.registry-left-container .box-description{
    width: 80%;
    margin-top: 5rem;
}
.registry-left-container h3 {
    font-size: 1.5rem;
}
.registry-left-container img {
    width: 3.5rem;
    margin-top: 2rem;
}
/* form */
.registry-right-container{
    width: 30%;
    color: var(--white-color);
    background: rgb(0,79,140);
    background: linear-gradient(249deg, rgba(0,79,140,1) 0%, rgba(0,137,183,1) 72%);
}
.form {
    padding: 3rem 3rem;
}
 .form label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
} 
.form input {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    padding: 1rem;
}
.form input:focus{
    outline: 0;
}
.form input::placeholder{
    color: var(--white-color);
}
.form > :nth-child(4) {
    margin-bottom: 3rem;
}
.form .big-link span img {
    width: 1rem;
    height: 1.5rem;
    margin-left: .2rem;
}
button.big-link{
    background: none;
    border: none;
    /* height: 5rem; */
    width: 100%;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 0;

}
button.big-link span {
    top: 30%;
    padding: 5% 10%;


}
button.big-link:focus{
    outline: 0;
}
.big-link > img {
    /* displa: none; */
}

/*-------------------------------------------*\
    SECTION: PLANES SUBSCRIPTORES
\*-------------------------------------------*/

/* title */

.plans-container{
    min-width: 347px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.plans-container h4{
    font-size: 1.5rem;
    text-align: center;
    color: #1F82E8;
    padding: 2rem 0 3rem;
    width: 100%;
}

/* plans */

.plans-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.plan{
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    width: 190px;
    /* height: 125px; */
    background: #f2f2f2;
    border-radius: 15px;
    position: relative;
}
.plan:hover{
    box-shadow: -2px 8px 14px 0px rgba(0,0,0, .4);
}
.plan img {
    width: 65px;
    position: absolute;
    left: 33%;
    top: -35px;
}
.plan .plan-title{
    font-size: 1rem;
    color: #1F82E8;
    text-align: center;
}
.plan .plan-description{
    text-align: center;
    font-size: .9rem;
    color: rgb(138, 138, 138);
}
/*-------------------------------------------*\
    SECTION: COMENTARIOS
\*-------------------------------------------*/
.comentarios-container{
    background: var(--purple-color-2);
    height: 350px;
    padding: 1.5rem;
}
.comentarios-container .comment-name{
    color: var(--white-color);
    font-size: 1.5rem;
    width: 100%;
}
.comentarios-container .comment{
    color: var(--white-color);
    width: 100%;
}
/*-------------------------------------------*\
    SECTION: BLOG
\*-------------------------------------------*/

.blog-top-container{
    height: 600px;
    background-image: url(../assets/img/bkg-blog.png);
    background-size: cover;
    display: flex;
}
.card{
    background: rgba(255, 255, 255, 0.800);
    width: 50%;
    align-self: center;
    padding: 1rem 1.5rem;
    height: 230px;
    margin-top: -5.5rem;
}
.card .card-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.card .big-link {
    width: 35%;
}
.small-video{
    width: 20%;
    height: 230px;
    padding: 1rem 1.5rem;
    align-self: flex-end;
    background: rgba(31, 132, 232, 0.800);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.small-video img{
    width: 30%;
}
.card-text{
    padding: 1rem 1.5rem;
    margin-top: -5.5rem;
    height: 230px;
    background: rgba(255, 255, 255, 0.800);
    width: 30%;
    align-self: center;
    display: flex;
    align-items: center;
}

/* content */
.blog-content{
    display: flex;
    flex-wrap: wrap;
}
.text, .video {
    width: 50%;
    height: 350px;
}
.text{
    padding: 3rem;
    display: flex;
    align-items: center;
}
.video{
    background: #1F82E8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.video img {
    width: 10%;
}

/*-------------------------------------------*\
    SECTION: FOOTER
\*-------------------------------------------*/

.footer-container {
    background-image: url(../assets/img/bkg-footer.png);
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 700px; */
}
.phrase-container{
    width: 50%;
    margin: 0 auto;
    height: 300px;
    color: var(--white-color);
    padding-top: 7rem;
}
.phrase-title, .phrase-description{
    margin: 0;
    text-align: center;
}
.phrase-title{
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}


/* links */

.links-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.links-left-container{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 4rem;
    width: 50%;
}
.list{
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    margin-right: 2rem;
}
.list .link {
    color: var(--white-color);
    text-decoration: none;
    margin-bottom: .2rem;
}

.list a > img{
    width: 1rem;
}
.list .list-title{
    margin: 0;
    margin-bottom: 1rem;
}
.link img {
    margin-right: .6rem;
}

.links-right-container{
    width: 25%;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;

}
.list-title {
    color: var(--white-color);
    margin-bottom: 1rem;
}
.links-right-container .list-title{
    text-align: left;
}
.app-links{
    display: flex;
}
.links-right-container img{
    width: 98%;
}

/* menu bar footer */

.footer-nav{
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--white-color);
    width: 90%;
}
.footer-nav .logo{
    width: 193px;
}
.footer-nav a {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 1rem;
}

/*-------------------------------------------*\
    SECTION: MEDIA QUERIES
\*-------------------------------------------*/


/* ---------- PHONE ---------- */

@media(max-width: 612px) {
    /* home */

    .items-container.left > :nth-child(3) {
        width: 6vh; 
        height:98%;
    }
    .hero-container{
        height: 91.2vh;
        margin-top: -.3vh;
        background-position: center;
    }
    .hero-container .hero-info-container {
        width: 100%;
        padding: 1rem;
    }
    .big-link{
        
        width: 80%;
    }
    .big-link span{
        top: 30%;
        left: 12%;
    }

    /* beneficios */

    .section-title{
        font-size: 1rem;
    }
    .tab {
        padding: 0 .5rem 1rem .5rem;
    }

    .benefits-container {
        height: auto;
    }
    .benefits-content{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .benefit{
        margin-bottom: 1rem;
        width: 90%;
    }

    /* registro */

    .registry-left-container{
        width: 100%;
        text-align: center;
    }
    .registry-left-container .box-description{
        width: 100%;
        margin-top: 3rem;
    }
    .registry-left-container img {
        width: 3.5rem;
        margin-top: 1rem;
    }
    .registry-right-container{
        width: 100%;
    }
    button.big-link{
        width: 70%;
    }

    /* planes */
    .plans-content{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    .plan{
        margin: auto;
        margin-bottom: 6rem;
        transform: scale(1.1);
    }
    .plan{
        padding-top: 1.6rem;
        padding-bottom: 1rem;
        width: 190px;
        /* height: 125px; */
        background: #f2f2f2;
        border-radius: 15px;
        position: relative;
    }
    .plan:hover{
        box-shadow: -2px 8px 14px 0px rgba(0,0,0, .4);
    }
    .plan img {
        width: 65px;
        position: absolute;
        left: 33%;
        top: -35px;
    }
    /* comentarios */
    .comentarios-container{
        height: auto;
    }
    .comentarios-container .comment-name{
        width: 90%;
    }
    .comentarios-container .comment{
        width: 90%;
    }
    /* blog */
    .blog-top-container{
        height: auto;
        flex-wrap: wrap;
    }
    .card{
        align-self: auto;
        width: 100%;
        height: 250px;
        margin-top: 0;
    }
    .card .big-link {
        width: 50%;
    }
    .card .big-link span {
        top: 25%;
    }
    .small-video{
        margin-top: 0;
        width: 100%;
        align-self: auto;
        height: 250px;
    }
    .small-video img{
        width: 20%;
    }
    .card-text{
        align-self: auto;
        width: 100%;
        height: 250px;
        margin-top: 0;
    }
    .video, .text {
        width: 100%;
    }

    /* footer */

    .phrase-container{
        width: 90%;
        margin: 0 auto;
        padding-top: 7rem;
    }
    .footer-container {
        background-image: url(../assets/img/bkg-footer.png);
        /* background-size: contain; */
        background-position: center;
        background-repeat: no-repeat;
    }
    .links-left-container{
        width: 90%;
        margin: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        margin-right: 0;
        width: 50%;
        margin-bottom: 1rem;
    }
    .list .list-title{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .list .link {
        /* font-size: .9rem; */
        margin-bottom: .4rem;
        text-align: center;
    }
    .links-right-container{
        width: 90%;
        margin: 2rem auto;
    }
    .links-right-container .list-title{
        text-align: center;
    }
    .footer-nav .logo {
        width: 140px;
    }

    /* search */

    .search-box{
        position: absolute;
        top:63px;
        left: -238px;
        padding: 1.5rem 1.25rem;
        background: var(--purple-color);

    }
    .search-box-container{
        position: relative;
        padding: 0 0rem;
    }
    .search-button{
        /* position: relative; */
        padding: 0;
        margin: 0;
    }
    .items-container.left > :nth-child(3) {
        background: var(--purple-color-2);
        min-width: 2vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items-container.right > :nth-child(2) {
        margin-left: .4rem;
        padding-right: .5rem;
    }
}

/* ---------- TABLET ---------- */

@media (min-width:493px) and (max-width: 900px) {
    /* home */
    .hero-container .hero-info-container {
        width: 80%;
        padding: 1rem;
    }

    /* beneficios */

    .benefit{
        width: 45%;
    }

    /* registro */

    .registry-left-container{
        width: 50%;
    }
    .registry-right-container{
        width: 50%;
    }
    /* comentarios */
    .comentarios-container{
        height: auto;
    }
    .comentarios-container .comment-name{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .comentarios-container .comment{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    /* blog */
    .blog-top-container{
        height: auto;
        flex-wrap: wrap;
        padding-top: 2rem;
    }
    .card{
        align-self: auto;
        width: 70%;
        height: 250px;
        margin-top: 0;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .card .big-link {
        width: 50%;
    }
    .card .big-link span {
        top: 25%;
    }
    .small-video{
        width: 70%;
        margin-top: 0;
        align-self: auto;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .small-video img{
        width: 20%;
    }
    .card-text{
        width: 70%;
        margin: 0 auto;
        align-self: auto;
        height: 250px;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .video, .text {
        width: 100%;
    }

    /* search */

    .search-box{
        position: absolute;
        top:75px;
        left: -200px;
        padding: 1.5rem;
        background: var(--purple-color);
    }
}
