/*-------------------------------------------*\
    SECTION: CONFIGURATIONS, FONTS AND VARIABLES
\*-------------------------------------------*/

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../assets/font/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../assets/font/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(../assets/font/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(../assets/font/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    box-sizing: border-box;
}
:root {
    --purple-color: #1B1464;
    --purple-color-2: #041450;
    --white-color: #fff;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------*\
    SECTION: COMPONENTS
\*-------------------------------------------*/

.big-link{
    display: inline-block;
    position: relative;
    width: 50%;
    user-select: none;
}
.big-link img{
    width: 100%;
}
.big-link span {
    position: absolute;
    top: 30%;
    left: 20%;
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.big-link span img{
    width: 2rem ;
    height: 1.5rem;
    margin-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*-------------------------------------------*\
    SECTION: HOME
\*-------------------------------------------*/

/* ---------- NAV ---------- */

.nav-bar{
    background: var(--purple-color);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    min-height: 60px;
    user-select: none;
}
.items-container{
    display: flex;
    align-items: center;
}
.items-container.left > :nth-child(2) {
    margin-right: 1rem;
}
.items-container.left > :nth-child(3) {
    background: var(--purple-color-2);
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-container.right > :nth-child(2) {
    margin-left: 1rem;
    padding-right: 1rem;

}

/* ---------- HERO IMG ---------- */

.hero-container{
    width: 100%;
    height: 90.2vh;
    background-image: url(../assets/img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-top: -.2vh;
}
.hero-container .hero-info-container {
    width: 50%;
    padding: 1.5rem;
}
.hero-container .title {
    font-size: 36px;
}
.hero-container .description {
    font-size: 22px;
    margin-bottom: 4rem;
    font-weight: lighter;
}

/*-------------------------------------------*\
    SECTION: BENEFICIOS
\*-------------------------------------------*/

/* tabs */

.benefits-container{
    background: var(--purple-color);
    padding: 1.5rem;
    margin-top: -2px;
}
.header-tabs-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding: 0 1rem 0;
    border: var(--white-color);
    margin-bottom: 2rem;
}
.header-tabs-container .section-title{
    color: var(--white-color);
}
.tab{
    color: #7A76A4;
    background: none;
    border: none;
    padding: 0 1.5rem 1rem 1.5rem;
    user-select: none;
}
.tab:focus{
    outline: 0;
}
.selected{
    border-bottom: 2px solid #1F82E8;
    color: #1F82E8;
}

/* benefits */

.benefits-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benefit {
    width:  17%;
    min-width: 137px;
    min-height: 91px;

}
.benefit img {
    width: 100%;
}
.benefit .benefit-description{
    text-align: center;
    color: var(--white-color);
    font-size: .9rem;
}


/*-------------------------------------------*\
    SECTION: 
\*-------------------------------------------*/

/*-------------------------------------------*\
    SECTION: MEDIA QUERIES
\*-------------------------------------------*/

/* ---------- PHONE ---------- */

@media(max-width: 592px) {
    /* home */

    .items-container.left > :nth-child(3) {
        width: 6vh; 
        height:98%;
    }
    .hero-container{
        height: 91.2vh;
        margin-top: -.3vh;
        background-position: center;
    }
    .hero-container .hero-info-container {
        width: 100%;
        padding: 1rem;
    }
    .big-link{
        
        width: 80%;
    }
    .big-link span{
        top: 30%;
        left: 12%;
    }

    /* beneficios */
    .section-title{
        font-size: 1rem;
    }
    .tab {
        padding: 0 .5rem 1rem .5rem;
    }

    .benefits-container {
        height: auto;
    }
    .benefits-content{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .benefit{
        margin-bottom: 1rem;
        width: 90%;
    }
}

/* ---------- TABLET ---------- */

@media (min-width:493px) and (max-width: 900px) {
    /* home */
    .hero-container .hero-info-container {
        width: 80%;
        padding: 1rem;
    }
    /* beneficios */
    .benefit{
        width: 45%;
    }
}